

<div class="wrapper">
    <div class="about-text">
        <p>I am a software developer deeply fascinated by innovative technologies. My journey so far has mainly been with JavaScript and Python, and I'm committed to evolving my skills further every day. What drives my passion for programming is its puzzle-solving nature; it's constantly engaging and immensely rewarding to crack a problem and see my solutions come to life.</p>
        <p>Beyond just coding, I actively seek out new technologies and consider their potential to benefit society. My portfolio is a testament to my exploration and commitment to developing technology that makes a difference.</p>
        <p>If you are interested in connecting or learning more about me, please feel free to reach out<a routerLink="/" fragment="Contact">here</a>or connect with me on<a [href]="linkedinLink" target="_blank">LinkedIn.</a></p>
    </div>
    <div class="imageDiv"> 
        <div class="dynamic-image">
            <!-- <img src="../../assets/profile_picture.png" alt="Profile Image"> -->
            <!-- <h3>Tools and Technologies</h3> -->
            <!-- <div class="toolIcons"> -->
                <div class="icons" >
                    <img src="../../assets/tech_icons/JavaScript.png" alt="JavaScript Icon">
                    <h5 >JavaScript</h5>
                </div>
                <div class="icons">
                    <img src="../../assets/tech_icons/Angular.png" alt="Angular Icon">
                    <h5 >Angular</h5>
                </div>
                <div class="icons">
                    <img src="../../assets/tech_icons/TypeScript.png" alt="TypeScript Icon">
                    <h5 >TypeScript</h5>
                </div>
                <div class="icons">
                    <img src="../../assets/tech_icons/HTML5.png" alt="HTML5 Icon">
                    <h5 >HTML5</h5>
                </div>
                <div class="icons">
                    <img src="../../assets/tech_icons/CSS3.png" alt="CSS3 Icon">
                    <h5 >CSS3</h5>
                </div>
                <div class="icons">
                    <img src="../../assets/tech_icons/Python.png" alt="Python Icon">
                    <h5 >Python</h5>
                </div>
                <div class="icons">
                    <img src="../../assets/tech_icons/SQLite.png" alt="SQLite Icon">
                    <h5 >SQLite</h5>
                </div>
                <div class="icons">
                    <img src="../../assets/tech_icons/Git.png" alt="Git Icon">
                    <h5 >Git</h5>
                </div>
                <div class="icons">
                    <img src="../../assets/tech_icons/Simpleicons-Team-Simple-Rasa.512.png" alt="Rasa Icon">
                    <h5 >Rasa</h5>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>