
.wrapper {
    --gap: clamp(.1em, 1.5em, 3em);
    --full: minmax(var(--gap), 1fr);
    --main: min(95ch, calc(100% - (var(--gap) * 2)));
    --popout: minmax(0, 5em);
    --feature: minmax(0, 3em);

    display: grid;
    grid-template-columns: 
        [full-start] var(--full)
        [popout-start] var(--popout) 
        [feature-start] var(--feature)
        [main-start] var(--main) [main-end]
        var(--feature) [feature-end]
        var(--popout) [popout-end] var(--full) [full-end];
}

@media screen and (max-width: 500px) {
    .wrapper {
        --gap: 5px;
        --full: minmax(var(--gap), 1fr);
    }

    nav {
        position: relative;
        display: grid;
    }
    .logo {
        margin-left: 1.5em;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        left: 0;
        top: auto;
        bottom: auto;
    }
    
    .wrapper .hamburger-menu label {
        display: block;
        cursor: pointer;
        font-size: var(--fs-xl);
        justify-self: start;
    }
    
    .hamburger-menu .links {
        display: none;
        place-content: center;
        position: fixed;
        inset: 38% auto auto 8%;
        gap: 1em;
        padding: 1em;
        box-shadow: 1px 1px 3px 1px var(--accent-color);
        border-radius: 0 5px 5px;
        background-color: var(--background-color);
        a {
            color: var(--secondary-text-color);
        }
    }

    #header {
        animation: none !important;
        position: sticky;
        z-index: 1000;
        top: 0;
        backdrop-filter: blur(3px);
    }
    
}
.hamburger-menu label {
    display: none;
}

.wrapper > * {
    grid-column: full;
}

.wrapper > section {
    grid-column: main;
    min-height: calc(100svh - var(--header-heigth));
    justify-content: center;
    /* border: 2px solid orange; */
}
.wrapper > #Home {
    grid-column: feature;
    display: flex;
    align-items: center; 
}
.wrapper > #header, footer {
    grid-column: popout;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-heigth);
    color: var(--accent-color);

    span {
        font-family: var(--ff-logo);
        margin-inline: 5px;
        font-weight: bold;
    }
}
nav {
    display: flex;
    justify-content: space-between;
    /* gap: clamp(1em, 10vw, 5em); */
    align-items: center;
    font-family: var(--ff-madimi);
    height: var(--header-heigth);
    /* flex: 1; */
    width: 70%;
}
nav .links {
    font-family: var(--ff-kode);
    font-weight: bolder;
    margin-inline: auto;
    font-size: var(--fs-500);
    outline: transparent;
}
.logo {
    display: var(--logoDisplay, block);
    font-size: var(--fs-800);
    font-family: var(--ff-logo);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--accent-color);
}
header {
    --animStart: 200px;
    --animEnd: 100px;

    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
    top: -5rem;
    /* min-width: fit-content; */
       
    animation: stickyNav linear forwards;
    @supports (animation-timeline: view()) {  
        animation-timeline: view();
        animation-range-start: calc(100vh + var(--animStart));
        animation-range-end: calc(100vh + var(--animStart) + var(--animEnd));
    }

}

@keyframes stickyNav {
    100% {
        --logoDisplay: none;

        top: 0;
        backdrop-filter: blur(3px);
        width: fit-content;
        border-radius: 100vw;
        justify-self: center;
    }
}

.theme-toggle {
    align-self: center;
    display: var(--logoDisplay, block);
}
.switch {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2em;
    border: .5px solid var(--border-color);
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    left: 0.25em;
    bottom: 0.2em;
    background-color: var(--secondary-text-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: var(--background-color);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--background-color);
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}
.fa-moon-o{
    position: absolute;
    left: 10px;
    bottom: 7px;
    font-size: var(--fs-400);
    -webkit-transition: .3s;
    transition: .3s;
    color: var(--accent-color);
}
.fa-sun-o {
    position: absolute;
    right: 8px;
    bottom: 7px;
    font-size: var(--fs-400);
    -webkit-transition: .3s;
    transition: .3s;
    color: var(--accent-color);
}
.fixNav {
    border-radius: 20px;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 10;
    left: 35vw;
}