
.header nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    height: var(--header-height);
    width: var(--page-width);
    background-color: var(--secondary-color);
}

.links {
    font-family: 'Madimi One', sans-serif;
    /* margin-inline: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10%; */
}
.links a:hover {
    text-decoration: underline;
}
.links a {
    color: var(--secondary-text-color);
}

.logo a {
    color: var(--secondary-text-color);
    font-family: 'Concert One', sans-serif;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    border: 2px solid var(--secondary-text-color);
    width: min(100px, 50%);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: 'Concert One', sans-serif;
    padding: 10px;
    background-color: var(--secondary-color);
}
.container {
    height: var(--page-height);
    display: grid;
    grid-template-rows: var(--header-height) 1fr 1fr 1fr 1fr var(--footer-height);
}
section {
    /* height: var(--content-heigth); */
    /* width: min(80ch, 100% - 4rem); */
    width: 100%;
    margin-inline: auto;
    /* border-radius: 10px; */
    /* padding: 15px; */
}
i {
    color: var(--secondary-text-color);
}