
<div class="wrapper">
  <header id="header">
    <nav>
      <div class="logo"><a href="#">CassV</a></div>
      <div class="links" appFixNav>
        <a routerLink="/" routerLinkActive="active" fragment="Home">Home</a>
        <a routerLink="/" routerLinkActive="active" fragment="About">About</a>
        <a routerLink="/" routerLinkActive="active" fragment="Projects">Project</a>
        <a routerLink="/" routerLinkActive="active" fragment="Contact">Contact</a>
      </div>
    </nav>
    <div class="theme-toggle">
      <label class="switch">
        <input type="checkbox" (click)="toggleTheme()">
        <span class="slider">
          <i class="fa fa-moon-o" aria-hidden="true" *ngIf="isLight"></i>
          <i class="fa fa-sun-o" aria-hidden="true" *ngIf="!isLight"></i>
        </span>
      </label>
    </div>
  </header>
  <hr>
  <!-- <section>
    <router-outlet></router-outlet>
  </section> -->
  <section id="Home">
    <app-home></app-home>
  </section>
  <section id="About" >
    <app-about [linkedinLink]="linkedinLink"></app-about>
  </section>
  <section id="Projects">
    <app-projects></app-projects>
  </section>
  <section id="Contact">
    <app-contact></app-contact>
  </section>
  <hr>
  <footer>
    <div id="footer">
      <a [href]="githubLink" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a [href]="linkedinLink" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </div>
  </footer>
</div>


