
<div class="container">
  <header id="header">
    <nav>
      <div class="logo"><a href="#">CassV</a></div>
      <div class="links">
        <a routerLink="home" routerLinkActive="active" fragment="Home">Home</a>
        <a routerLink="home" routerLinkActive="active" fragment="About">About</a>
        <a routerLink="home" routerLinkActive="active" fragment="Skills">Skills</a>
        <a routerLink="home" routerLinkActive="active" fragment="Contact">Contact</a>
      </div>
    </nav>
  </header>
  <!-- <section>
    <router-outlet></router-outlet>
  </section> -->
  <section id="Home">
    <app-home></app-home>
  </section>
  <section id="About">
    <app-about></app-about>
  </section>
  <section id="Skills">
    <app-skills></app-skills>
  </section>
  <section id="Contact">
    <app-contact></app-contact>
  </section>
  <footer>
    <div id="footer">
      <a href="https://github.com/CassieV81" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/cassandra-chidinma-obiagwu-1aa7a81a9/" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </div>
  </footer>
</div>


