
<div class="wrapper">
    <h3>{{project.title}}</h3>
    <div class="text">
        <p><span>Description</span> <br> {{project.text}}</p>
        <p><span>Tech Stack:</span> {{project.techStack}} </p>
    </div>
    <div class="mediaDiv">
        <img [src]="project.imgUrl" [alt]="project.imgAlt">
        <div class="btn" *ngIf="project.viewLink || project.codeLink">
            <a [href]="project.viewLink" target="_blank"><button [disabled]="project.viewLink == null ? true : false">View</button></a>
            <a [href]="project.codeLink" target="_blank"><button [disabled]="project.codeLink == null ? true : false">Code</button></a>
        </div>
    </div>
</div>
<hr>
