/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Kode+Mono:wght@400..700&family=Madimi+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');

  /* :root {
    --primary-color: #889d64; 
    --secondary-color: #aeccb6; 
    --accent-color: #83b19f; 
    --text-color: #11140c; 
    --background-color: #f7f5f4;
  } */
  :root {
    --ff-kode: "Kode Mono", monospace; 
    --ff-concert: 'Concert One', sans-serif;
    --ff-madimi: 'Madimi One', sans-serif;

    --fs-xl: clamp(2rem, 5vw, 4rem);
    --fs-800: clamp(1.5rem, 4vw, 3rem);
    --fs-600: clamp(1.3rem, 2.5vw, 3rem);
    --fs-500: clamp(1.25rem, 1.8vw, 2rem);
    --fs-400: clamp(1rem, 1.25vw, 1.25rem);

    --header-heigth: 10vh;
}

*, *::after, *::before {
    box-sizing: border-box;
}
html {
    color-scheme: light dark;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: var(--ff-kode);
    font-size: var(--fs-400);
    line-height: 1.5;
    min-height: 100vh;
}
a {
    text-decoration: none;   
    padding: 0 10px; 
}
img {
    max-width: 100%;
    display: block;
}
h2 {
    grid-column: feature;
}
