
.introDiv {
    display: flex;
    justify-content: start;
}
.intro1, .intro2, .intro3 {
    font-family: var(--ff-concert);
    font-size: var(--fs-600);
    line-height: 1;
    /* font-style: italic; */
}
/* .intro1 {
    font-style: normal;
} */
.intro2 span {
    font-size: var(--fs-xl);
    font-style: normal;
    font-family: var(--ff-madimi);
}
.intro3 span {
    font-size: var(--fs-800);
    font-style: normal;
    font-family: var(--ff-concert);
}