
.wrapper {
    --speed: 5s;
    --chrlength: 36;
    --blinkspeed: 1s;
    --delayspeed: 1s;

    display: grid;
    justify-items: center;
    gap: 2em;
}

h1, h6 {
    margin-block: 0;
    width: max-content;
    font-style: normal;
    font-family: var(--ff-madimi);
}
h1 {
    font-size: var(--fs-xl);
    position: relative;
}
@media screen and (max-width: 500px) {
    h1 {
        font-size: var(--fs-600);
    }
    h6 {
        font-size: var(--fs-400);
    }
}
h6 {
    font-size: var(--fs-600);
    opacity: 0;
    transform: translateX(20vw);
    animation: comeUp 2s ease-in calc(var(--speed) + var(--delayspeed)) forwards;
}
h1::before, h1::after {

    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--accent-color);
}
h1::before {
    background-color: var(--background-color);
    animation: typing var(--speed) steps(var(--chrlength)) var(--delayspeed) forwards;
}
h1::after {
    width: .125em;
    background-color: var(--accent-color);
    margin-left: 1px;
    /* animation: 
        typing var(--speed) steps(var(--chrlength)) var(--delayspeed) forwards,
        blink var(--blinkspeed) steps(var(--chrlength)) infinite; */
    animation-name: typing, blink;
    animation-duration: var(--speed), var(--blinkspeed);
    animation-timing-function: steps(var(--chrlength)), steps(var(--chrlength));
    animation-delay: var(--delayspeed), 0s;
    animation-fill-mode: forwards, none;
    animation-iteration-count: 1, infinite;
}

@keyframes typing {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes blink {
    from {
        background-color: var(--accent-color);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes comeUp {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        height: 0;
    }
    25% {
        height: 25%;
    }
    50% {
        height: 50%;
    }
    75% {
        height: 75%;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}
/* @keyframes disappear {
    0% {
        opacity: 1;
        height: auto;
    }
    25% {
        height: 75%;
    }
    50% {
        height: 50%;
    }
    75% {
        height: 25%;
    }
    100% {
        opacity: 0;
        height: 0;
    }
} */

.techIcons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: clamp(5px, 1em, 4vw);
}

.icons {
    padding-block: 3em;
    transition: scale 300ms;
    position: relative;
}
.icons:hover{
    scale: 1.2;
}.icons:hover .tooltip {
    visibility: visible;
}
.tooltip {
    position: absolute;
    top: 15%;
    width: fit-content;
    font-size: small;
    border-radius: 2px;
    background-color: var(--primary-text-color);
    color: var(--background-color);
    padding: 0 5px;
    visibility: hidden;
    transition: 500ms 1s;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        color: var(--accent-color);
        font-size: clamp(10px, 20px, 5em);
    }
}
.about {
    --delayspeed: 2s;

    opacity: 0;
    animation: comeUp 2s ease-in calc(var(--speed) + var(--delayspeed)) forwards;
    width: 80%;
    transform: translateX(20vw);
}

.about-text {
    padding: 3px clamp(5px, 15px, 1em);
    box-shadow: inset 0px 0px 3px 4px var(--border-color);
    opacity: 0;
    height: 0;
    overflow: hidden;

    a {
        color: var(--accent-color);
    }
}
.about-text:not([hidden]) {  
    animation: appear 300ms ease-in forwards;
}
/* .about-text[hidden] {
    animation: disappear 300ms ease-in forwards;
} */
.show-about {
    padding-inline: 5px;
    cursor: pointer;
    color: var(--accent-color);
    border: 1px solid var(--border-color);
    width: fit-content;
    
    span {
        color: var(--accent-color);
    }
}