/* 
.introDiv {
    display: flex;
    justify-content: start;
}
.intro1, .intro2, .intro3 {
    font-family: var(--ff-concert);
    font-size: var(--fs-600);
    line-height: 1;
}
.intro2 span {
    font-size: var(--fs-xl);
    font-style: normal;
    font-family: var(--ff-madimi);
    text-shadow: 2px 2px 2px var(--accent-color), 4px 4px 4px var(--secondary-text-color);
}
.intro3 span {
    font-size: var(--fs-800);
    font-style: normal;
    font-family: var(--ff-concert);
    text-shadow: 2px 2px 2px var(--accent-color), 4px 4px 4px var(--secondary-text-color);
} */
h1, h6 {
    --speed: 8s;
    --chrlength: 36;
    --blinkspeed: 1s;
    --delayspeed: 1s;

    margin-block: 0;
    width: max-content;
    font-style: normal;
    font-family: var(--ff-madimi);
}
h1 {
    font-size: var(--fs-xl);
    position: relative;
}
@media screen and (max-width: 500px) {
    h1 {
        font-size: var(--fs-600);
    }
    h6 {
        font-size: var(--fs-400);
    }
}
h6 {
    font-size: var(--fs-600);
    opacity: 0;
    transform: translateX(20vw);
    animation: comeUp 2s ease-in calc(var(--speed) + var(--delayspeed)) forwards;
}
h1::before, h1::after {

    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--accent-color);
}
h1::before {
    background-color: var(--background-color);
    animation: typing var(--speed) steps(var(--chrlength)) var(--delayspeed) forwards;
}
h1::after {
    width: .125em;
    background-color: var(--accent-color);
    margin-left: 1px;
    animation: 
        typing var(--speed) steps(var(--chrlength)) var(--delayspeed) forwards,
        blink var(--blinkspeed) steps(var(--chrlength)) infinite;
}

@keyframes typing {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes blink {
    from {
        background-color: var(--accent-color);
    }
    100% {
        background-color: transparent;
    }
}

@keyframes comeUp {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}